@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Alexandria', sans-serif;
    --dark: #111;
    --pink: #FF3998;
    --gray: #555;
    --orange: #FF8139;
}


/* classes */
.flex{
    display: flex;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
}

.pink{
    color: var(--pink);
}

.gray{
    color: var(--gray);
}

.dark{
    color: var(--dark);
}

.orange{
    color: var(--orange);
}

.upper{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.buttonWrapper{
    margin: 1rem 0 0 1rem;
    display: inline-block;
    padding: 20px 5px 20px 5px;
    border-radius: 70px 70px 70px 70px;
    background-image: linear-gradient(
        to right,
        #FF7F8D,
        #FC6A63,
        #F57F51,
        #E46D66,
        #D1CC9F
    ); 
}

.signUp{
    background-color: #fff;
    border-radius: 70px 70px 70px 70px;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem 2.7rem;
}

